// == VARIABLES

//Color palette
@brand-primary: #FF530D;
@brand-secondary: #00273d;

@link-color: #006fd4;
@text-color-dark: #333;

@cold-grey: #586E75;
@light-grey: #ddd;
@lighter-grey: #f8f8f8;
@lightest-grey: #F1F1F1;

@code-color: @cold-grey;
@pre-color: @cold-grey;

@well-bg: @lightest-grey;
@code-bg: @lightest-grey;

@pre-bg: @lighter-grey;

@nav-pills-active-link-hover-bg: @navbar-default-bg;
//@nav-pills-active-link-hover-color: @gray;
@nav-pills-active-link-hover-color: #fff;

@gap: 15px;

//Typography set
@ratio-type: 1.25; //golden ratio
@line-height-base: 1.45;
@font-size-base: 100%; //1em, 16px, 12pt, 100%

@navbar-height: 65px;
@navbar-margin-bottom: 30px;

@fa-font-path: "font";