---
layout: default
title: Canepa Research Lab
categories:
- home
---

<div class="row">
	<div class="col-sm-9 col-xs-12">
		<h1 class="intro-text">
			The Canepa Research Lab works on the design of materials from first-principles methodologies.
			Our research group is part of the <a href="https://www.eng.nus.edu.sg/mse">Department of Materials Science and
				Engineering</a> at the <a href="http://nus.edu.sg">National University of Singapore</a>.
		</h1>
		<div class="smallhead">
			<p>We are also affiliated with the <a href="https://www.eng.nus.edu.sg/chbe">Department of Chemical Engineering</a>.
			</p>
			<p>
				We apply computational methods to advance the understanding of materials properties for energy storage and
				conversion.
				Our research leverages the synergy between materials science, thermodynamics, electrochemistry and the power of
				supercomputers for the discovery of novel materials and molecules.
				The models derived from our research contribute to the rational design of new materials for clean energy
				technologies, such as electrode materials for batteries, ionic conductors and liquid electrolytes for energy-dense
				and
				sustainable energy storage systems.
			</p>
		</div>
	</div>
	<div class="col-sm-3 col-xs-12 hidden-xs">
		<img class="pull-left biglogo" src="/images/logo-inter-color.svg" type="image/svg+xml">
	</div>
</div>

<div class="row feedbox-container">
	<div class="col-md-4 col-sm-4 col-xs-12 latest-news">
		<h2>
			<a href="/news/">Recent News</a>
		</h2>
		<div class="feedbox">
			{% for post in site.categories.news limit: 3 %}
			{% for member in site.categories.team %}
			{% if member.title == post.author %}
			{% assign author = member %}
			{% endif %}
			{% endfor %}
			<div class="note-container equalCard">
				<h3 class="note">
					<i class="fa fa-comment-o fa-fw"></i>
					<a href="{{ post.url }}">
						{{ post.title }}
					</a>
				</h3>
				<p class="smallnote">
					Posted
					{{ post.date | date: "%-d %b %Y" }}
					{% if post.author %}
					by
					<a class="off" href="
							{% for member in site.categories.team %}
								{% if member.title == post.author %}
								{{ member.url }}
								{% endif %}
							{% endfor %}
							">
						{{ post.author }}
					</a>
					{% endif %}
					{% if post.authors %}
					by
					<a class="off" href="
							{% for member in site.categories.team %}
								{% if member.title == post.authors.first %}
								{{ member.url }}
								{% endif %}
							{% endfor %}
							">
						{{ post.authors.first }}
					</a>
					and
					<a class="off" href="
						{% for member in site.categories.team %}
							{% if member.title == post.authors.last %}
							{{ member.url }}
							{% endif %}
						{% endfor %}
						">
						{{ post.authors.last }}
					</a>
					{% endif %}
				</p>
			</div>
			{% endfor %}
		</div>
	</div>

	<!-- <div class="spacer"></div> /-->

	<div class="col-md-4 col-sm-4 col-xs-12">
		<h2>
			<a href="/papers/">Recent papers</a>
		</h2>
		<div class="feedbox">
			{% for paper in site.categories.papers limit: 3 %}
			<div class="note-container equalCard">
				<h3 class="note">
					<i class="fa fa-file-text-o fa-fw"></i>
					<a href="{{ paper.url }}">{{ paper.title }}</a>
				</h3>
				<p class="smallnote">
					{{ paper.ref}}; <a href="https://www.doi.org/{{paper.doi}}">{{paper.doi}}</a><br>
					<span>Posted {{ paper.date | date: "%-d %b %Y" }}</span>
				</p>
			</div>
			{% endfor %}
		</div>
		<div class="spacer"></div>
	</div>
</div>

<!-- <div class="spacer"></div> /-->

<!--
  <div class="col-md-4">
		<div class="head">
			<a class="off" href="/projects/">Projects</a>
		</div>
		<div class="spacer"></div>

  	{% for project in site.data.projects limit:4 %}
  	<div class="col-md-4">
  		<div class="pad-left">
  			<div class="note">
  				<i class="fa fa-edit fa-fw"></i>
  				<a class="off" href="{{ project.url }}">
  				{{ project.title }} - {{ project.description }}
  				</a>
  			</div>
  			<div class="smallspacer"></div>
  			<div class="smallnote">
  				Updated
  				<a class="off" href="{{ project.commits.first.url }}">
  				{{ project.commits.first.date | date: "%-d %b %Y" }}
  				</a>
  				by
  				<a class="off" href="{{ project.commits.first.author_url }}">
  				{{ project.commits.first.author_login }}
  				</a>
  			</div>
  			<div class="bigspacer"></div>
  		</div>
  	</div>
  	{% endfor %}
 </div>
</div>

-->