---
layout: default
title: Canepa Research Lab / news
categories:
- news
category: news
---

{% include news-header.html news="active" %}

<div class="post-list">
	{% for post in site.categories.news limit: 8 %}

	<div class="blog-post">
		<div class="row">
			<div class="col-sm-9 col-xs-12">
				<h2>
					<a href="{{ post.url }}">{{ post.title }}</a>
				</h2>
				<p class="news-author">
					{{ post.date | date: "%-d %b %Y" }}
					{% if post.author %}
					by <a class="off" href="
						{% for member in site.categories.team %}
							{% if member.title == post.author %}
								{{ member.url }}
							{% endif %}
						{% endfor %}
					">
						{{ post.author }}
					</a>
					{% endif %}
					{% if post.authors %}
					by
					<a class="off" href="
						{% for member in site.categories.team %}
							{% if member.title == post.authors.first %}
								{{ member.url }}
							{% endif %}
						{% endfor %}
					">
						{{ post.authors.first }}
					</a>
					and
					<a class="off" href="
						{% for member in site.categories.team %}
							{% if member.title == post.authors.last %}
								{{ member.url }}
							{% endif %}
						{% endfor %}
					">
						{{ post.authors.last }}
					</a>
					{% endif %}
				</p>
				<div class="post">
					{{ post.content }}
				</div>
			</div>
			<div class="col-sm-3 col-xs-12 col-img">
				{% if post.image %}
				{% if post.link %}
				<a href="{{ post.link }}">
					<img class="img-responsive" src="{{ post.image }}">
				</a>
				{% else %}
				<img class="img-responsive" src="{{ post.image }}">
				{% endif %}
				{% endif %}

			</div>

		</div>
	</div>

	{% endfor %}
</div>

<div class="infinite-spinner"></div>

<div class="row">
	<div class="col-md-12 col-xs-12">
		<!-- <button class="btn btn-default" href="/news/">
			<i class="fa fa-chevron-up fa-fw"></i> Back to top
		</button> -->
	</div>
</div>

<!-- Infinite scroll -->
<script async src="/js/infinite-scroll.js"></script>