<div class="row">
    <div class="col-sm-6 col-xs-12">
        <h1>News</h1>
    </div>
    <div class="col-sm-6 col-xs-12">
        <div class="centered-pills pull-right">
            <ul class="nav nav-pills">

                <li role="presentation" class="{{include.news}}">

                    <a class="off" href="/news/">
                        <i class="fa fa-refresh fa-fw"></i> Timeline
                    </a>
                </li>
                <li role="presentation" class="{{include.archive}}">
                    <a class="off" href="/news/archive/">
                        <i class="fa fa-list-ul fa-fw"></i> Index
                    </a>
                </li>
            </ul>
        </div>
        <div class="bigspacer"></div>
    </div>
</div>